/* Reset */
/* CSS reset by Andy Bell */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	padding: 0;
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* No animations on the page, nothing to turn off */

/* General styling */

:root {
	/* Colors */

	--color-primary-strong-cyan: hsl(172, 67%, 45%);

	--color-neutral-very-dark-cyan: hsl(183, 100%, 15%);
	--color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
	--color-neutral-grayish-cyan: hsl(184, 14%, 56%);
	--color-neutral-light-cyan: hsl(173, 61%, 77%);
	--color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
	--color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
	--color-neutral-white: hsl(0, 0%, 100%);

	--color-accent-red: hsl(346, 95%, 44%);

	/* Typography */

	--font-size-200: 14px;
	--font-size-300: 16px;
	--font-size-400: 24px;
	--font-size-600: 30px;
	--font-size-900: 46px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	font-family: "Space Mono", monospace;
	font-weight: 700;

	background-color: var(--color-neutral-light-grayish-cyan);
}

.logo {
	position: absolute;
	left: 0px;
	right: 0px;
	top: -5.8125rem;

	display: flex;
	justify-content: center;
}

.card {
	/* Layout and dimensions */

	display: grid;
	gap: clamp(1rem, 6.4vw, 2rem);

	position: relative;
	top: 9rem;

	max-width: 922px;
	padding: clamp(1rem, 6.4vw, 2rem);

	border-radius: 1.25rem;
	/* Colors */

	background-color: var(--color-neutral-white);

	/* Typography */
}

/* Common elements */

.inputs,
.outputs-wrapper {
	max-width: 30rem;

	display: flex;
	flex-direction: column;
}

.input,
.button {
	width: 100%;
	height: 3rem;

	border: none;
	outline: none;
	border-radius: 6px;

	cursor: pointer;
}

.input {
	padding-inline-end: 1rem;

	background-color: var(--color-neutral-very-light-grayish-cyan);
	color: var(--color-neutral-very-dark-cyan);

	font-size: var(--font-size-400);
	text-align: end;
}

.button {
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* 1. Input field */

.inputs {
	padding: clamp(0.5rem, 2.13vw, 1rem);
}

.inputs__bill,
.inputs__number-of-people,
.select-tip {
	display: grid;
	grid-template-columns: 4fr 3fr;
}

.inputs__label {
	font-size: var(--font-size-300);
	color: var(--color-neutral-dark-grayish-cyan);
}

.inputs__error {
	color: var(--color-accent-red);

	font-size: var(--font-size-200);
	text-align: end;
}

.input--bill,
.input--number-of-people {
	grid-column: span 2;
}

/* 1.1 Bill */

.inputs__bill {
	margin-block-end: clamp(2.25rem, 9.6vw, 2.75rem);
}

.input--bill {
	background-image: url("./images/icon-dollar.svg");
	background-repeat: no-repeat;
	background-position: 1rem center;
}

/* 1.2. Tip input */

.select-tip {
	margin-block-end: clamp(2.25rem, 9.6vw, 2.75rem);
	position: relative;
}

.select-tip__grid {
	grid-column: span 2;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	margin-block-start: 1rem;
	padding: 0px;

	border: none;
}

.select-tip__legend {
	position: absolute;
	color: transparent;
	z-index: -1;
}

.select-tip__radio {
	display: none;
}

.button--select-tip {
	background-color: var(--color-neutral-very-dark-cyan);
	color: var(--color-neutral-very-light-grayish-cyan);

	font-size: var(--font-size-400);
}

/* 1.3. Number of people */

.inputs__number-of-people {
	margin-block-end: 0.5rem;
}

.input--number-of-people {
	background-image: url("./images/icon-person.svg");
	background-repeat: no-repeat;
	background-position: 1rem center;
}

/* 2. Output field */

.outputs-wrapper {
	padding: clamp(1.25rem, 5.33vw, 2.5rem);
	border-radius: 1rem;

	background-color: var(--color-neutral-very-dark-cyan);
}

/* 2.1. Outputs */

.outputs {
	display: grid;
	gap: 3rem;

	margin-block-start: 1rem;
	margin-block-end: 2rem;
}

.outputs__grid-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.outputs__result,
.outputs__label,
.outputs__comment {
	align-self: center;
}

.outputs__result {
	grid-row: span 2;

	justify-self: end;

	font-size: clamp(var(--font-size-600), 8vw, var(--font-size-900));
	color: var(--color-primary-strong-cyan);
	line-height: 0.2;
}

.outputs__label {
	color: var(--color-neutral-white);
	font-size: var(--font-size-300);
}

.outputs__comment {
	align-self: baseline;

	font-size: var(--font-size-200);
	color: var(--color-neutral-grayish-cyan);
}

.button--reset {
	margin-block-start: auto;

	background-color: var(--color-primary-strong-cyan);
	color: var(--color-neutral-very-dark-cyan);

	font-size: var(--font-size-300);
}

/* Active states */

.input:focus,
.input:active {
	border: 2px solid var(--color-primary-strong-cyan);
}

@media (hover: hover) {
	.input:hover {
		border: 2px solid var(--color-primary-strong-cyan);
	}

	.button--select-tip:hover {
		color: var(--color-neutral-very-dark-cyan);
		background-color: var(--color-neutral-light-cyan);
	}

	.button--reset.button--active:hover {
		background-color: var(--color-neutral-light-cyan);
	}
}

.input--error {
	border: 2px solid var(--color-accent-red);
}

.select-tip__radio:checked + .button {
	color: var(--color-neutral-very-dark-cyan);
	background-color: var(--color-primary-strong-cyan);
}

.button--inactive {
	/* Default state, before there is anything to reset */
	opacity: 25%;
}

/* Screen size media query */

@media screen and (min-width: 25rem) {
	.select-tip__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 50rem) {
	body {
		justify-content: center;
	}

	.logo {
		top: calc((3.5rem + 8.6vh) * (-1));
	}

	.card {
		top: 2rem;
		grid-template-columns: 1fr 1fr;
	}
}
