/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* No animations on the page, nothing to turn off */

/* General styling */

:root {
	--color-primary-300: hsl(173, 61%, 77%);
	--color-primary-400: hsl(172, 67%, 45%);

	--color-neutral-100: hsl(0, 0%, 100%);
	--color-neutral-200: hsl(189, 41%, 97%);
	--color-neutral-300: hsl(185, 41%, 84%);
	--color-neutral-400: hsl(184, 14%, 56%);
	--color-neutral-800: hsl(186, 14%, 43%);
	--color-neutral-900: hsl(183, 100%, 15%);

	--color-error: hsl(10, 97%, 51%);

	--font-size-100: 13px;
	--font-size-200: 16px;
	--font-size-300: 20px;
	--font-size-400: 25px;
	--font-size-800: 35px;
	--font-size-900: 48px;

	--spacer-8: 0.5rem;
	--spacer-12: 12px;
	--spacer-14: 14px;
	--spacer-16: 1rem;
	--spacer-24: 1.5rem;
	--spacer-32: 2rem;
	--spacer-40: 2.5rem;
	--spacer-48: 3rem;

	--spacer-responsive: 6.4vw;

	--radius-7: 7px;
	--radius-15: 15px;
	--radius-24: 24px;
}

body {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	background-color: var(--color-neutral-300);
	font-family: "Space Mono", monospace;
}

/* Block level */

.card {
	background-color: var(--color-neutral-100);
	border-radius: var(--radius-24);
	max-width: 481px;
	display: flex;
	flex-wrap: wrap;
	padding-inline: min(var(--spacer-responsive), var(--spacer-32));
	padding-block: var(--spacer-32);
	gap: var(--spacer-32);
}

@media (min-width: 58rem) {
	.card {
		max-width: 930px;
	}
}

.wrapper {
	border-radius: var(--radius-15);
	flex: 0 1 413px;
}

.logo {
	margin-bottom: var(--spacer-40);
	margin-top: var(--spacer-40);
}

@media (min-width: 58rem) {
	.logo {
		margin-bottom: 90px;
	}
}

.output-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.button,
.input {
	width: 100%;
	height: 3rem;

	border: none;
	border-radius: var(--radius-7);
	font-size: var(--font-size-400);
}

.button:hover,
.button:focus {
	border: none;
	outline: none;
}

.button {
	background-color: var(--color-neutral-900);
	color: var(--color-neutral-200);
}

.input {
	padding-inline-end: var(--spacer-16);
	text-align: end;
	grid-column: span 2;

	background-color: var(--color-neutral-200);
	color: var(--color-neutral-800);
}

/* Elements */

.form__field {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.form__label {
	color: var(--color-neutral-800);
}

.form__error {
	justify-self: end;
	color: var(--color-error);
}

.output-block__text {
	align-self: center;
	font-size: var(--font-size-200);
	color: var(--color-neutral-200);
	line-height: 1;
}

.output-block__spacer {
	grid-column: span 2;
	height: var(--spacer-32);
}

@media (min-width: 58rem) {
	.output-block__spacer {
		height: var(--spacer-48);
	}
}
/* Modifiers */

.wrapper--white {
	background-color: var(--color-neutral-100);
	display: grid;
	gap: var(--spacer-32);
	flex-direction: column;
	padding-inline: var(--spacer-16);
}

@media (min-width: 58rem) {
	.wrapper--white {
		padding-block: var(--spacer-16);
	}
}

.wrapper--dark {
	background-color: var(--color-neutral-900);
	padding: var(--spacer-24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 58rem) {
	.wrapper--dark {
		padding: var(--spacer-40);
	}
}

.form__field--buttons {
	grid-template-columns: repeat(6, 1fr);
	gap: 15px;
}

.input--span-1 {
	grid-column: span 1;
}

.input[name="bill"] {
	background-image: url("images/icon-dollar.svg");
	background-repeat: no-repeat;
	background-position: left 1rem center;
}

.input[name="number-of-people"] {
	background-image: url("images/icon-person.svg");
	background-repeat: no-repeat;
	background-position: left 1rem center;
}

.form__label--span-6,
.form__error--span-6 {
	grid-column: span 6;
}

.button--select-tip,
.input--select-tip {
	grid-column: span 3;
}

/* The secondary breaking point at 25rem, otherwise the grid of buttons would look akwardly stretched at intermediate screen sizes */

@media (min-width: 28rem) {
	.button--select-tip,
	.input--select-tip {
		grid-column: span 2;
	}
}

.output-block__text--large {
	grid-row: span 2;
	justify-self: end;
	font-size: var(--font-size-800);
	color: var(--color-primary-400);
	line-height: 1;
}

@media (min-width: 58rem) {
	.output-block__text--large {
		font-size: var(--font-size-900);
	}
}

.output-block__text--small {
	font-size: var(--font-size-100);
	color: var(--color-neutral-400);
}

/* Exceptions / changed states */

.button:hover,
.button--inverted[data-active="true"]:hover {
	background-color: var(--color-primary-300);
	color: var(--color-neutral-900);
}

.button--selected {
	background-color: var(--color-primary-400);
	color: var(--color-neutral-900);
}

.button--inverted,
.button--inverted:hover {
	background-color: var(--color-primary-400);
	color: var(--color-neutral-900);
	opacity: 20%;
}

.button--inverted[data-active="true"] {
	opacity: 100%;
}

.input:hover,
.input:focus {
	outline: 2px solid var(--color-primary-400);
}

.input.input--error {
	outline: 2px solid var(--color-error);
}

/* Utilities */

.margin-top-8 {
	margin-top: var(--spacer-8);
}

.margin-top-12 {
	margin-top: var(--spacer-12);
}

.margin-top-14 {
	margin-top: var(--spacer-14);
}

.margin-top-16 {
	margin-top: var(--spacer-16);
}
